@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  background-color: var(--body);
  color: var(--primary-text);
  transition: color 500ms ease-in-out;
}

.light {
  --body: #e7e7e7;
  --secondary: #f8f8f8;
  --card-bg: #dbdbdb;
  --primary: #006494;
  --border: #d6d6d6;
  --black: #000000;
  --button: #006494;
  --titleBg: #f8f8f8;
  --primary-text: #363636;
}

.dark {
  --body: #051923;
  --secondary: #003554;
  --card-bg: #131b42;
  --primary: #006ea1;
  --border: #006494;
  --black: #000000;
  --button: #006494;
  --titleBg: #006494;
  --primary-text: #d6d6d6;
}